.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22rem;
}

.menu nav {
  width: 100%;
  display: flex;
}

.menu ul {
  display: inherit;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  font-size: 20px;
  width: 20rem;
  color: white;
  font-weight: bold;
}

.menu button {
  background-color: #e859dd;
  border-radius: 18px;
  height: 2.5rem;
  width: 8rem;
  margin: 11px 22px 0 0;
  font-size: 16.5px;
  color: white;
  border: none;
  font-weight: bold;
}
